<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amarillo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>amarillo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{20,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>amarillo.png</string>
            <key>size</key>
            <string>{38,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4745cc1d75d55b8176e3dab964ccee8f:c4c222f95cb4d97d056340d7b284682d:9394fd36b1ec44f83b51367ba9cf0f8c$</string>
            <key>textureFileName</key>
            <string>amarillo.png</string>
        </dict>
    </dict>
</plist>
