<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rojo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rojo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{20,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>rojo.png</string>
            <key>size</key>
            <string>{38,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472a408ecc6975002a9212c733d8be3f:4b975268facb058f920c795d46e551ad:eda5872c25dde581f47c8fb6c897c1ea$</string>
            <key>textureFileName</key>
            <string>rojo.png</string>
        </dict>
    </dict>
</plist>
