<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>verde1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>verde2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{20,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>verde.png</string>
            <key>size</key>
            <string>{38,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa86686d04c42c8c7b93a6c5c097cc3a:603f7e9a6a50925ae9c3cb09b44797df:95074bf511c628bf337938ff1a70d91b$</string>
            <key>textureFileName</key>
            <string>verde.png</string>
        </dict>
    </dict>
</plist>
